<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50&text=Logo" alt="">
            </a>
            <form action='#' method='get'>
             <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input name="search-input" id="search-input" type="text" class="form-control input-lg" placeholder="Search any location" />
                <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->



<div class="row">
    <div class="cover-heading" id="map">
    </div>
</div>
<div class="container">
    <!-- /.row -->



    <!-- Call to Action Well -->
    <div class="row headline">
        <div class="col-lg-12">
            <h2 class="text-center">
                Locate Real Reproductive Healthcare Near You
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <hr>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>What's a CPC?</h2>
            <p>Not sure what the difference is between a real clinic and a "Crisis pregnacy center"?</p>
            <a class="btn-outline" href="https://www.plannedparenthood.org/learn/pregnancy/crisis-pregnancy-centers">Click here for a detailed explanation</a><br>
            <a class="" href="https://www.youtube.com/watch?v=g-ex4Q-z-is">Vice News video on CPCs</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>50% of pregancies are unplanned</h2>
            <p>Whether or not you planned to get pregnant, you are not alone, and you deserve to have unbiased information</p>
        </div>
        <div class="col-md-4">
            <h2>Birth Control</h2>
            <p>Need help figuring out which birth control is best for you? Here's a tool to help get you started before seeing a healthcare professional.</p>
            <a class="btn-outline" href="https://www.mybirthcontrolapp.org/">Which BC is right for me?</a>
        </div>
        <!-- /.col-md-4 -->

        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>clinic/cpc incorrectly labelled? <a href="mailto:wehmenstein@gmail.com" subject="Clinic Locator Feedback">let us know.</a></p>
            </div>
        </div>
    </footer>

</div>