* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  background-color: rgb(51, 51, 51) !important;
}

div.container {
  padding: 0 !important;
}

h2{
  font-weight: 100 !important;
  text-transform: uppercase !important;
  color: rgb(255, 255, 255) !important;
  font-style: italic !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  margin-top: 5px !important;
  /*text-shadow: 2px 2px 0 rgba(255,255,255,0.1) !important;*/
}

h3 { color: rgb(255, 255, 255) !important; }

p {
  color: rgb(255, 255, 255) !important;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #00caa6 !important;

}

a:hover {
  color: gray !important;
  text-decoration: none !important;
}
a.CPC{
  color:red !important;
}



@media(min-width: 992px){
  div.navbar-header .logo {
    img {
      margin-right: 20px !important;
    }
    h2 {
      font-size: 2.3em !important;
      margin-top: 20px !important;
    }
  }
  .navbar-key {
    width: 16%;
    padding-top: 5px !important;
    img{
      height: 30px !important;
    }
    h5{
      font-size: 1.1em;
    }
  }
}



@media(max-width: 991px){
  div.navbar-header .logo {
    h2 {
      font-size: 1.9em !important;
      margin-top: 30px !important;
    }
  }
  div.subtext-row{
    margin-left: 2%;
    margin-right: 2%;
  }
  div.subtext{
    width: 33% !important;
    float: left;
  }
  .navbar-key {
    padding-top: 5px !important;
    img{
      height: 30px !important;
    }
  }

}

@media(max-width: 767px){
  div.navbar-header .logo {
    h2 {
      padding-top: 5px;
      font-size: 1.3em !important;
    }
    img {
      margin-right: 5% !important;
      margin-left: 20px !important;
    }
  }
  .navbar-fixed-top .navbar-key {
    margin-top: 25px;
    margin-right: 5%;
    padding: 10px 0 0 0 !important;
    display: inline-block;
    float:right;
    img{
      height: 25px !important;
    }
  }
  div.subtext-row{
    margin-left: 10%;
    margin-right: 10%;
  }
  div.subtext {
    padding-top: 15px;
    width: 50% !important;
    float: left;
  }
  div.subtext-3{
    width: 60% !important;
  }
}

@media(max-width: 646px){
  div.navbar-header .logo {
    width: 55% !important;
    margin-left: 10%;
    img {
      margin-right: 5% !important;
    }
    h2 {
      font-size: 2em !important;
      padding-top: 0px;
    }
  }
  #custom-search-input {
    clear: both;
    float: left;
    width: 80% !important;
    margin: 0 10% 5px 10% !important;
  }
  .navbar-fixed-top .navbar-key {
    margin-top: 22px !important;
    margin-right: 10%;
    padding: 10px 0 0 0 !important;
    display: inline-block;
    float:right;
    img{
      height: 30px !important;
    }
  }
  div.subtext-row {
    margin-left: 5%;
    margin-right: 5%;
  }
  div.subtext {
    width: 50% !important;
    padding: 0 10px 0 10px !important;
  }
}

@media(max-width: 447px){
  div.navbar-header .logo {
    width: 100% !important;
    img {
      margin-left: 0 !important;
    }
    h2{
      font-size: 2.5em !important;
      margin-top: 8px !important;
    }
  }
  .navbar-fixed-top .navbar-key {
    width: 90% !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-left: 10% !important;
    margin-right: 0 !important;
    img {
      height: 20px !important;
    }
  }
  #custom-search-input {
    width: 85% !important;
    margin-left: 5% !important;
  }
  div.subtext {
    width: 100% !important;
    padding: 10px 10px 0 10px !important;
  }
}




.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top div.navbar-key {
  margin-top: 25px;
  padding: 15px 0 0 20px;
  display: inline-block;
  float: right;

  h5 {

    display: inline;
    left: -5px;
    position: relative;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  img {
    display: inline;
    height: 20px;
  }
}

form {
  margin: 33px 0px 10px 0px;
  padding: 0 !important;
}

#custom-search-input{
  input{
    box-shadow: none;
  }
  button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 8px 8px 7px 10px;
    border: 1px solid #00caa6;
    border-radius: 0 6px 6px 0;
  }
  button:hover{
    border: 1 solid red;
    box-shadow: none;
  }
  .glyphicon-search{
    font-size: 23px;
    color: #00caa6;
  }
}



div.navbar-header .logo {
  width: 33%;
  padding: 0 !important;
  height: 100px;
  float: left;
  img {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    float: left;
    margin-right: 10px;
  }
  h2{
    color: #00caa6 !important;
    font-size: 1.8em;

  }
}


div.headline h2 {
  font-size: 3.5em;
  color: #00caa6 !important;
  font-style: normal !important;
}

.btn {
  background-color: transparent !important;
}

button.btn-success:focus {
  outline:none !important;
  color:#fff;
  background-color:#449d44 !important;
  border-color:#255625
}
button.btn-danger:focus {
  outline:none !important;
  color:#fff;
  background-color:#c9302c !important;
  border-color:#761c19
}



div.input-group {

}


#map {
  height: 400px;
  width: 100%;
  margin-bottom: 15px;
}

hr {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: gray !important;
}

div.subtext {
  padding-top: 15px;
}

footer { padding: 80px 0; }