* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 15px;
}

div.subtext {
  padding-top: 15px;
}

div.navbar-key h5 {
  display: inline;
  left: -5px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: 'Josefin Sans', sans-serif;
}
div.navbar-key img {
  display: inline;
  height: 20px;
}

div.navbar-header .logo {
height: 100px;
margin-right: 10px;
float: left;
  h2{
    margin-top: 25px !important;
    color: #00caa6 !important;
    font-size: 1.6em;
    span.word-1{
      margin-left: .5em;
      font-weight: 200;
    }
    span.word-3{
      margin-left: 1em;
    }
  }
}

a {
  text-decoration: none;
  color: #00caa6 !important;
}
a:hover {
    color: gray !important;
}
a.CPC{
    color:red !important;
}
a.FP{

}

body {
  background-color: rgb(51, 51, 51) !important;
}



.btn {
  background-color: transparent !important;
}

button.btn-success:focus {
    outline:none !important;
    color:#fff;
    background-color:#449d44 !important;
    border-color:#255625
}
button.btn-danger:focus {
    outline:none !important;
    color:#fff;
    background-color:#c9302c !important;
    border-color:#761c19
}

form {
  margin: 33px 0px 10px 0px;
}

input {
  outline:none !important;
}



body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

a:hover {
    text-decoration: none !important;
}

hr {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: gray !important;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-key {
    margin-top: 25px;
        padding: 15px 0 0 20px;
        display: inline-block;
        float: right;
}

footer { padding: 80px 0; }

@media(max-width: 767px){
  #custom-search-input {
    clear: both;
    float: left;
    width: 80% !important;
    margin: 0 10% 5px 10% !important;
  }
  .navbar-fixed-top .navbar-key {
        margin-top: 25px;
        padding: 15px 10% 0 20px;
        display: inline-block;
        float:right;
    }
}

@media(min-width:768px) {
    body {
        padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-key {
        margin-top: 25px;
        padding: 15px 0 0 20px;
        display: inline-block;
    }
}

#custom-search-input{
    padding: 3px;
    /*border: solid 1px #E4E4E4;*/
    border-radius: 6px;
    /*background-color: #fff;*/
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;

}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
  color: #00caa6;
}

/*text*/
h2{
    font-weight: 100 !important;
    text-transform: uppercase !important;
    color: rgb(255, 255, 255) !important;
    font-style: italic !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    margin-top: 5px !important;
    /*text-shadow: 2px 2px 0 rgba(255,255,255,0.1) !important;*/
}
div.headline h2 {
    font-size: 3.5em;
    color: #00caa6 !important;
    font-style: normal !important;
}
p {
  color: rgb(255, 255, 255) !important;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
h2.masthead-brand { float: left; }
h3 { color: rgb(255, 255, 255) !important; }
